### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [66]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [67]:
player_count = len (purchase_data["SN"].unique())
player_count_df = pd.DataFrame ({"Total Number of Players": [player_count]})
player_count_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
Purchasing_Analysis = {
                            "Number of Unique Items": [len (purchase_data["Item ID"].unique())],
                            "Average Price": [purchase_data["Price"].mean()],
                            "Number of Purchases": [len(purchase_data["Purchase ID"].value_counts())],
                            "Total Revenue": [purchase_data["Price"].sum()],
                       }


Purchasing_Analysis = pd.DataFrame(Purchasing_Analysis)

Purchasing_Analysis ["Average Price"] = Purchasing_Analysis["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis ["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:,.2f}".format)

Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [69]:
#Getting count of players based on Gender
get_gender = purchase_data.loc[:, ["Gender", "SN"]]
get_gender = get_gender.drop_duplicates()
total_count = get_gender["Gender"].value_counts()

#Getting Perecetage of players based on Gender
player_percentage = (total_count/player_count)


Gender_demographics  = pd.DataFrame(
                                    {
                                    
                                        "Total Count": total_count,
                                        "Percentage of Players": player_percentage
                                    }
                                )

Gender_demographics['Percentage of Players'] = Gender_demographics['Percentage of Players'].map("{:,.2%}".format)
Gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:


purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
average_purchase = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase = purchase_data.groupby(["Gender"]).sum()["Price"]
per_gender_purchase = total_purchase/Gender_demographics["Total Count"]


Gender_Purchasing_Analysis = pd.DataFrame(
                            {
                           # "Gender": ["Male", "Female", "Other / Non-Disclosed"],
                            "Purchase Count": purchase_count,
                            "Average Purchase Price": average_purchase,
                            "Total Purchase Value": total_purchase,
                            "Avg Total Purchase per Person": per_gender_purchase
                            
                            }
                                            )


Gender_Purchasing_Analysis["Average Purchase Price"] = Gender_Purchasing_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Gender_Purchasing_Analysis["Total Purchase Value"] = Gender_Purchasing_Analysis["Total Purchase Value"].map("${:,.2f}".format)
Gender_Purchasing_Analysis["Avg Total Purchase per Person"] = Gender_Purchasing_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
Gender_Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [74]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.90, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

remove_dups = purchase_data.drop_duplicates()
remove_dups["Age Group"] = pd.cut(remove_dups["Age"], bins, labels=group_names)


total_count = remove_dups["Age Group"].value_counts()
player_percentage = total_count/player_count

age_demographics = pd.DataFrame({"Total Count": total_count, "Percentage of Players": player_percentage})

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame